# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.LesLie-14.github.io.iml
# Datasource local storage ignored files
/../../../../../../../../:\Leslie\Online Resume\Github\LesLie-14.github.io\.idea\.idea.LesLie-14.github.io.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
